.title-container {
   position: relative;
   height: fit-content;
   width: 100%;
}
.title-text {
   position: absolute;
   top: -0.2rem;
   font-weight: 900;
   font-size: 2.6rem;
}

.role-button {
   border: none;
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   font-weight: 800;
   text-transform: uppercase;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.game-code-input {
   text-align: center;
}
.game-code-input::placeholder {
   text-align: center;
   color: #382610;
   opacity: 0.8;
   font-weight: 600;
}

.home-map-container {
   height: fit-content;
   overflow: hidden;
   border-radius: 0.6rem;
}

.profile-button,
.settings-button {
   background-color: #d3b78863;
   width: 4.5rem;
}