.title-container {
   position: relative;
   height: fit-content;
   width: 100%;
}
.title-text {
   position: absolute;
   top: -0.2rem;
   font-weight: 900;
   font-size: 2.6rem;
}

.role-button {
   border: none;
   background-color: #d3b78863;
   color: #382610;
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   font-weight: 800;
   text-transform: uppercase;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}
.role-button.active {
   background-color: #60472f;
   color: #e2cfae;
}

.game-code-input {
   text-align: center;
}
.game-code-input::placeholder {
   text-align: center;
   color: #382610;
   opacity: 0.8;
   font-weight: 600;
}

.home-map-container {
   height: fit-content;
   overflow: hidden;
   border: 4px solid #382610;
   border-radius: 0.6rem;
}
.home-map {
   width: -webkit-fill-available;
   transform: scale(1);
}

.profile-button,
.settings-button {
   border: 3px solid #382610;
   background-color: #d3b78863;
   color: #382610;
   font-size: 1.2rem;
   width: 4.5rem;
   font-weight: 800;
   text-transform: uppercase;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}
.profile-button:active,
.settings-button:active {
   transform: scale(0.9);
}

.donate-button {
   border: 3px solid #382610;
   background-color: #60472f;
   color: #e2cfae;
   font-size: 1rem;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}
.donate-button:active {
   transform: scale(0.9);
}
